.work {
    display: block;
    float: right;
}

.branding {
    display: block;
    margin-top: 50px; }
  
  .branding_img_1 {
    width: 400px;
    height: 400px;
    padding: 20px; }
  
  .branding_img_2 {
    width: 400px;
    height: 400px;
    padding: 20px; }
  
  .branding_rightcolumn {
    display: flex; }
  
  .branding_leftcolumn {
    display: flex; }
  
  .branding_img_3 {
    width: 400px;
    height: 400px;
    padding: 20px; }
  
  .branding_img_4 {
    width: 400px;
    height: 400px;
    padding: 20px; }